/* CSS Document */

.check_in{
	width: 70%;
	margin: auto;
	margin-top: 20%;
	
	
} 
.stu_form{
	background-color: white;
	color: black;
	margin-top: 100px;
	border : 1px solid #000;
	border-radius: 10px;
    padding : 15px;
	
}

footer {
  text-align: center;
  padding: 0;
  color: #007bff;
  font-size: 25px;
  width: 100%;
  position: fixed;
}

h1{
	text-align: center;
}
